{name, "jsx"}.
{authors, ["Alisdair Sullivan <alisdairsullivan@yahoo.ca>"]}.
{description, "an evented, streaming json parser based in part on yajl"}.
{homepage, "https://github.com/talentdeficit/jsx"}.
{rebar_compatible, true}.
{license, "MIT", "LICENSE"}.
{url, {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}}.
{applications, [jsx]}.
